<form method="post" action="/subscribe/" class="">
  <input class="confirm" type="hidden" name="confirm" /><input
    class="location"
    type="hidden"
    name="location"
  /><input class="referrer" type="hidden" name="referrer" />

  <div class="form-group">
    <textarea
      id="w3review"
      name="w3review"
      rows="4"
      cols="50"
      class="subscribe-email"
    >
Type your message</textarea
    >
  </div>
  <button
    class=""
    type="submit"
    {%
    unless
    site.subscribe
    %}disabled{%
    endunless
    %}
  >
    <span>Send</span>
  </button>
  <script type="text/javascript">
    (function (g, h, o, s, t) {
      h[o](".location")[s] = h[o](".location")[s] || g.location.href;
      h[o](".referrer")[s] = h[o](".referrer")[s] || h.referrer;
    })(window, document, "querySelector", "value");
  </script>
</form>
